<tr>
  <td colspan="4">
    <div class="flash warning">
      <h1>We've Moved!</h1>
      <p>Ticket tracking is now hosted in JIRA: <a href="<%= ::RedmineJIRAExporter.settings[:jira_baseurl] %>"><%= ::RedmineJIRAExporter.settings[:jira_baseurl] %></a></p>
    </div>
  </td>
</tr>
